.about-section {
  background: #fff;
  max-width: 900px;
  margin: 0 auto;
  padding: 0.2rem 1rem;
}

@media (min-width: 769px) {
  .about-section {
    padding: 0.1rem 1.5rem;
  }
  .about-main {
    padding: 60px 0;
  }
}
