openapi: 3.1.0
info:
  title: EmptyInbox API
  description: |
    Disposable email inbox API for AI agents and developers.

    Create temporary email addresses, receive messages, and read content — all via REST.
    No browser required. Authenticate with a static API key.

    **Zero-config agent workflow:**
    1. `POST /auth/register` — create a free account and get an API key (no passkey needed)
    2. `POST /inbox` — create a disposable address
    3. Trigger an external signup/verification using that address
    4. `GET /messages` — poll until the email arrives
    5. Read `code` or `action_url` off the message — the API extracts both for you

    Or use the [emptyinbox-mcp](https://www.npmjs.com/package/emptyinbox-mcp) package — auto-registers on first run, no setup needed.

    Human accounts: get your API key at https://emptyinbox.me/settings.html
  version: 1.2.0
  contact:
    url: https://emptyinbox.me

servers:
  - url: https://emptyinbox.me/api
    description: Production

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      description: |
        Your API key. Obtain one by calling `POST /auth/register` (agents) or from https://emptyinbox.me/settings.html (humans).
        Usage: `Authorization: Bearer <your_api_key>`

  schemas:
    PaymentQuote:
      type: object
      properties:
        address:
          type: string
          description: Bitcoin address to pay. Unique to this quote.
          example: bc1qexampleaddress
        bundle:
          type: string
          example: starter
        quota:
          type: integer
          description: Inboxes granted once payment is seen
          example: 50
        usd:
          type: integer
          example: 5
        amount_satoshis:
          type: integer
          example: 5300
        amount_btc:
          type: string
          example: "0.00005300"
        bip21:
          type: string
          description: Wallet URI with address and amount prefilled
          example: "bitcoin:bc1qexampleaddress?amount=0.00005300"
        expires_at:
          type: string
          example: "2026-09-09T12:15:00Z"
        status_url:
          type: string
          example: /api/payments/status/bc1qexampleaddress

    Message:
      type: object
      description: |
        A received email, already parsed. `code`, `action_url`, `links` and
        `text` are extracted server-side, so no HTML parsing is needed to act
        on a verification mail.
      properties:
        id:
          type: string
          example: "a1b2c3d4"
        inbox:
          type: string
          example: "clever.sunny.butterfly@emptyinbox.me"
        to:
          type: array
          description: Envelope recipients
          items:
            type: string
        subject:
          type: string
          example: "Confirm your email address"
        sender:
          type: string
          description: Raw From header
          example: "Example App <noreply@example.com>"
        from_name:
          type: string
          example: "Example App"
        from_email:
          type: string
          example: "noreply@example.com"
        timestamp:
          type: integer
          description: Unix timestamp
          example: 1711234567
        received_at:
          type: string
          format: date-time
          example: "2024-03-23T21:36:07Z"
        type:
          type: string
          description: What the mail is asking for
          enum: [verification, password_reset, login_link, general]
          example: verification
        code:
          type: [string, "null"]
          description: Best one-time code found in the body, or null
          example: "482910"
        codes:
          type: array
          description: All code candidates, most confident first
          items:
            type: string
        action_url:
          type: [string, "null"]
          description: The single link worth opening for this message type
          example: "https://example.com/verify?token=abc123"
        links:
          type: array
          description: Every link in the mail, with its anchor text
          items:
            type: object
            properties:
              url:
                type: string
              text:
                type: string
              unsubscribe:
                type: boolean
                description: Present and true for list-management links
        preview:
          type: string
          description: First 200 characters of the plain-text body
          example: "Your verification code is 482910. It expires in 10 minutes."
        has_html:
          type: boolean
        text:
          type: string
          description: Body as plain text — the HTML part flattened when there is no text part. Omitted when `include_body=false`.
          example: "Your verification code is 482910. It expires in 10 minutes."
        text_body:
          type: string
          description: Raw text/plain MIME part (may be empty). Omitted when `include_body=false`.
        html_body:
          type: string
          description: Raw text/html MIME part (may be empty). Omitted when `include_body=false`.
          example: "<p>Your verification code is <strong>482910</strong></p>"
        headers:
          type: object
          description: |
            Raw email headers as delivered. Returned by `GET /message/{msgid}`
            only — a listing leaves them out, since DKIM and ARC signature
            blobs run to kilobytes per message.
          additionalProperties:
            type: string

    Inbox:
      type: object
      properties:
        inbox:
          type: string
          example: "clever.sunny.butterfly@emptyinbox.me"
        created_at:
          type: string
          format: date-time

    RegisterResult:
      type: object
      properties:
        api_key:
          type: string
          example: "eiXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
        username:
          type: string
          example: "agent-k3j9f2ab"
        inbox_quota:
          type: integer
          example: 1

    QuotaResult:
      type: object
      properties:
        username:
          type: string
          example: "agent-k3j9f2ab"
        inbox_quota:
          type: integer
          example: 1

    Error:
      type: object
      properties:
        error:
          type: string

paths:
  /auth/register:
    post:
      operationId: registerAccount
      summary: Register a new agent account
      description: |
        Creates a new account and returns an API key. No passkey or browser required.
        Agent accounts start with 5 inbox quota, the same as human accounts. Rate limited to 3 registrations per IP per 24 hours.
        Save the returned `api_key` for all subsequent requests.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username:
                  type: string
                  minLength: 3
                  maxLength: 32
                  description: Letters, numbers, hyphens, and underscores only
                  example: "agent-k3j9f2ab"
      responses:
        "200":
          description: Account created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterResult"
        "400":
          description: Invalid or taken username
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded (3 registrations per IP per 24 hours)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /auth/me:
    get:
      operationId: getQuota
      summary: Get account info and remaining inbox quota
      description: Returns the authenticated account's username and remaining inbox quota.
      responses:
        "200":
          description: Account info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuotaResult"
        "401":
          description: Missing or invalid API key

  /inbox:
    post:
      operationId: createInbox
      summary: Create a new disposable email inbox
      description: |
        Creates a new inbox and returns its email address as plain text.
        Each inbox consumes 1 from your quota. All accounts start with 5 inboxes.
        When quota runs out this returns 402 with a link to POST /payments/quote,
        which sells more quota for Bitcoin. Humans can also buy at https://emptyinbox.me/inboxes.html
      responses:
        "201":
          description: Inbox created — returns the email address
          content:
            text/plain:
              schema:
                type: string
              example: clever.sunny.butterfly@emptyinbox.me
        "401":
          description: Missing or invalid API key
        "402":
          description: |
            Inbox quota exhausted. The body carries the URLs for buying more.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: insufficient_quota
                  message:
                    type: string
                  bundles_url:
                    type: string
                    example: /api/payments/bundles
                  quote_url:
                    type: string
                    example: /api/payments/quote

  /inboxes:
    get:
      operationId: listInboxes
      summary: List all inboxes for this account
      description: Returns all inboxes belonging to the authenticated account, newest first.
      responses:
        "200":
          description: Array of inbox objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Inbox"
        "401":
          description: Missing or invalid API key

  /messages:
    get:
      operationId: listMessages
      summary: List received messages
      description: |
        Messages across all inboxes, newest first, each one already parsed into
        `code`, `action_url`, `links` and plain `text`.

        Poll this after triggering a signup or verification flow. Pass `inbox`
        and `since` so a poll returns only what is new instead of the whole
        history, and `include_body=false` to leave the raw bodies out.
        Messages are automatically deleted after 7 days.
      parameters:
        - name: inbox
          in: query
          description: Only messages delivered to this inbox address
          schema:
            type: string
          example: clever.sunny.butterfly@emptyinbox.me
        - name: since
          in: query
          description: Only messages received after this Unix timestamp
          schema:
            type: integer
          example: 1711234567
        - name: limit
          in: query
          description: Maximum messages to return (default 50, max 200)
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: include_body
          in: query
          description: Include `text`, `text_body` and `html_body` (default true)
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: Array of messages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Message"
        "401":
          description: Missing or invalid API key

  /message/{msgid}:
    get:
      operationId: getMessage
      summary: Get one message
      description: |
        Returns the parsed message. `format=text` returns the whole mail as
        flat text, ready to drop into a prompt; `format=raw` returns the
        untouched stored MIME parts and headers.
      parameters:
        - name: msgid
          in: path
          required: true
          schema:
            type: string
          example: a1b2c3d4
        - name: format
          in: query
          description: Response shape
          schema:
            type: string
            enum: [json, text, raw]
            default: json
      responses:
        "200":
          description: Message content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
            text/plain:
              schema:
                type: string
                example: |
                  From: Example App <noreply@example.com>
                  To: clever.sunny.butterfly@emptyinbox.me
                  Date: 2024-03-23T21:36:07Z
                  Subject: Confirm your email address
                  Code: 482910
                  Action URL: https://example.com/verify?token=abc123

                  Your verification code is 482910. It expires in 10 minutes.
        "401":
          description: Missing or invalid API key
        "404":
          description: Message not found

  /payments/bundles:
    get:
      operationId: listBundles
      summary: List quota bundles for sale
      description: |
        Public price list. Bundles are priced in USD and quoted in BTC at
        purchase time. No authentication required.
      security: []
      responses:
        "200":
          description: Available bundles
          content:
            application/json:
              schema:
                type: object
                properties:
                  currency:
                    type: string
                    example: USD
                  default:
                    type: string
                    example: starter
                  bundles:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: starter
                        quota:
                          type: integer
                          example: 50
                        usd:
                          type: integer
                          example: 5

  /payments/quote:
    post:
      operationId: createQuote
      summary: Quote a Bitcoin price for a quota bundle
      description: |
        Returns a payment address, the exact amount to send, and a BIP21 URI.
        Send the amount from any Bitcoin wallet, then poll
        GET /payments/status/{address}.

        Quota is credited as soon as the transaction is seen on the network,
        without waiting for confirmations, unless the transaction signals
        Replace-By-Fee. That credit is provisional: if the transaction has not
        confirmed within 6 hours it is reversed.

        Idempotent per account. Calling it again while a quote is open returns
        the same address rather than issuing a new one.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                bundle:
                  type: string
                  description: Bundle id from /payments/bundles
                  example: starter
      responses:
        "201":
          description: Quote created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentQuote"
        "200":
          description: An open quote already existed and was returned unchanged
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentQuote"
        "400":
          description: Unknown bundle id
        "401":
          description: Missing or invalid API key
        "409":
          description: A previous payment is still awaiting confirmation
        "502":
          description: Payment provider unreachable

  /payments/status/{address}:
    get:
      operationId: getPaymentStatus
      summary: Check whether a Bitcoin payment has landed
      description: |
        `quota_credited` is what matters for creating inboxes; it can be true
        while `settled` is still false, because credit is granted at zero
        confirmations. `revoked` means a provisional credit was reversed after
        the transaction failed to confirm.
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
          example: bc1qexampleaddress
      responses:
        "200":
          description: Payment state
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    type: string
                  status:
                    type: integer
                    description: 0 unconfirmed, 1 one confirmation, 2 confirmed
                    example: 0
                  expected_satoshis:
                    type: integer
                  received_satoshis:
                    type: integer
                  quota:
                    type: integer
                  quota_credited:
                    type: boolean
                  settled:
                    type: boolean
                  revoked:
                    type: boolean
                  txid:
                    type: string
                    nullable: true
                  expires_at:
                    type: string
        "401":
          description: Missing or invalid API key
        "404":
          description: No such quote for this account
