[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
gunicorn = "*"
redis = "*"
eth_account= "*"
flask_sqlalchemy="*"
requests = "*"

[scripts]
start="gunicorn --daemon --reload --error-logfile app.log --access-logfile app.log -b :5000 tempmail_api:app"  
create_db="python db_models.py"

[dev-packages]

[requires]
python_version = "3"
